{
    "id": "b5b574fc-a854-4666-82c7-8b22877bf000",
    "id_conference": "16fa161a-95c3-4e4f-b6d9-f6e52862d90d",
    "name": "LANE-DC",
    "external_port": "8109",
    "pretix": {
        "token": "place_token_for_accessing_webapp",
        "checklist_id": "313919",
        "event_id": "sfscon23",
        "organizer_id": "noi-digital"
    },
    "telegram": {
        "bot_token": "__place_your_telegram_token__",
        "chat_id": "__csv_of_caht_ids__"
    }
}